@font-face {
    font-family: 'SiteCustomFont';
    src: url("../../Fonts/SFPRODISPLAYREGULAR.OTF");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'SiteCustomFont';
}

/*Body Section*/
.bg-color {
    background: #FBFBFB;
}

.row {
    margin: 0px !important;
}

/*Footer Section*/
@media (max-width:540px) {

    .footer-heads-align {
        margin-top: 40px !important;
    }

    .footer-lists,
    ul {
        margin-top: 25px !important;
    }

    .footer-para {
        padding-right: 20px !important;
    }

    .footer-bg-bimg {
        background-size: 0% !important;
    }

    .foot-img-align {
        height: 0%;
    }
}

@media (min-width:992px) {
    .footer-cont-row {
        margin-top: 50px !important;
        margin-left: 50px !important;
    }

    .footer-logo {
        height: 12% !important;
        width: 12% !important;
        margin-top: 20px !important;
    }

    .footer-heads {
        font-size: 25px !important;
    }
}

@media (min-width:768px),
(max-width:820px) {
    .footer-form-size {
        max-width: 250px !important;
    }

    .foot-img-align {
        height: 0%;
    }
}

.footer-cont-row {
    margin-top: 50px !important;
}

.footer-bg {
    background-color: #292D34 !important;
    overflow-y: hidden !important;
    z-index: 0;
}

.footer-logo {
    margin-top: 20px !important;
}

.footer-lists,
ul {
    list-style-type: none;
    font-size: 18px;
    text-align: left;
    padding-left: 0px;
    margin-top: 25px;
}

.text-light.footer-heads {
    color: #ffc83d !important;
}

.foter-links {
    text-decoration: none;
    cursor: pointer;
    color: #bfbfbf !important;
    text-align: left;
    margin: 20px 0 20px 0 !important;
}

.foter-links:hover {
    color: #ffc83d !important;
}

.foter-links-down {
    color: #ffffff;
    padding-left: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 17px !important;
}

.foter-links-down:hover {
    color: #ffc83d;
}

.footer-li-space {
    margin: 10px 0 10px 0 !important;
}

.footer-social {
    color: #ffffff;
    width: 18px;
}

.social-media li {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.foter-links-small {
    color: #ae9696;
    font-size: 12px;
    /* margin-bottom: 30px; */
}

.footer-btn-subscribe {
    background-color: #ffc83d !important;
    color: #ffffff !important;
}

.footer-btn-subscribe:hover {
    background-color: #ffffff !important;
    color: #000 !important;
}

.footer-form {
    border: 1px solid #ae9696 !important;
    background-color: #292D34 !important;
}

.footer-form::placeholder {
    font-style: italic !important;
    font-size: 12px !important;
    color: #ffffff4d !important;
}

.footer-para {
    color: #ae9696;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
}

.footer-copy {
    color: #ffffff;
    font-size: 20px;
}

.foot-img-align {
    position: absolute !important;
    right: 1100px !important;
    height: 100% !important;
    z-index: -1;
}

/*EOF Footer Section*/